{% extends 'base.html' %}
{% block context %}
    <div class="jumbotron">
        <p>Let's see how you performed</p>
        {% if is_passed %}
            <p>Your username have passed all the requirements</p>
        {% else %}
            <p>Oh No! you user name encountered with some issues</p>
            {% if not is_lower %}
                <p>You didnot use an lowercase letter</p>
            {% endif %}
            {% if not is_upper %}
                <p>You didnot use an uppercase letter</p>
            {% endif %}
            {% if not is_numb %}
                <p>You didnot use a number at the end</p>
            {% endif %}
        {% endif %}
    </div>